/* You can add global styles to this file, and also import other style files */
.container{
    margin-top: 50px;
} 
.center{
    justify-content: center;
    text-align: center;
}

.tablecenter{
    align-content: center;
    text-align: center;
}