<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<style>
.error{
    color: red;
    text-indent: 200px;
}
.success{
    color: teal;
    text-indent: 200px;
}

</style>
</head>
<body>
    {% if found == True %}
    <p class="error">Username has been taken.</p>
    {% endif %}
    {% if found == False %}
    <p class="success"> This username is available</p>
    {% endif %}    
</body>
</html>