.container{
    align: center;
    width: 700px;
    
}
.header {
    background-color: grey;
    color: white;
    text-weight: bold;
}

td{
    height: 20px;
    width: 150 px;
    outline: .5px solid grey;
}

.columns{
    outline: 5px dotted pink;
}